
@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.c-breadcrumb {
  font-weight: 500;
  background: #E8E8E8;
  width: 100%;
}

.c-breadcrumb .c-breadcrumb-scroll {//8.3.9
// .c-breadcrumb .l-inner {
  display: flex;
  align-items: center;
  // margin-right: rem(20);//8.3.8
  height: rem(36);
  column-gap: rem(20);
  /* スマホでの横スクロール設定（1行に強制） */
  flex-wrap: nowrap; /* スマホで折り返しを禁止 */
  overflow-x: auto; /* 横スクロールを許可 */
  white-space: nowrap; /* テキストの折り返しを禁止 */
  -webkit-overflow-scrolling: touch; /* スムーズなスクロールを有効にする（iOS） */
  /*スクロールバーの表示を防止（必要に応じて）*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style:none; /* IE and Edge */
  @include pc {
    height: rem(50); /* PCは1行固定 */
    flex-wrap: nowrap;
    // overscroll-behavior-x: none; /* ブラウザ特有の「端っこの揺れ」を防止する */
  }
}

/* --- Chrome, Safari, Edge(新しい方)用のスクロールバー非表示 --- */
.c-breadcrumb .l-inner::-webkit-scrollbar {
  display: none;
}

/* 各項目の共通設定（aタグと現在のページ名） */
.c-breadcrumb .l-inner > span {
  // display: inline-block;
  line-height: 1.55; /* line-heightリセット */
}
.c-breadcrumb a,
.c-breadcrumb .current-item,
.c-breadcrumb span[typeof="ListItem"] > span {
  display: inline-block;
  font-size: rem(16);
  line-height: rem(36);
  color: #000;
  text-decoration: none;
  white-space: nowrap; /* 折り返し禁止 */
  @include pc {
    max-width: rem(530);     /* 項目が長くなりすぎないよう最大幅を指定（数値は任意） */
    line-height: rem(50);
    white-space: nowrap;     /* 折り返し禁止 */
    text-overflow: ellipsis; /* 三点リーダーを表示 */
    vertical-align: bottom;  /* 1行の時にズレるのを防ぐ（必要に応じて） */
    overflow: hidden;        /* はみ出しを隠す */
  }
}

/* ホバー領域を広げたい場合の設定 */
.c-breadcrumb a {
  display: inline-block;
  transition: opacity 0.3s;
}
@media (hover: hover) {//8.3.19
  .c-breadcrumb a:hover {
    opacity: 0.7;
  }
}
/* 区切り文字 (>) の調整 */
.c-breadcrumbs__sign {
  display: flex;
  align-items: center;
  font-size: rem(16);
  height: 100%; /* 親の高さに合わせる */
}





