@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.c-btn {
  display: flex;
  // display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0 rem(20);

  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
  background-color: #CB0000;
  border: 1px solid #CB0000;
  transition: color 0.3s ease, background-color 0.3s ease,;
  box-sizing: border-box;
  cursor: pointer;
}
@media (hover: hover) {//8.3.9ホバーができる端末だけに hover を効かせる
  .c-btn:hover {
    color: #CB0000;
    background-color: #FFFFFF;
  }
}

//ヘッダー コンタクトボタン
.c-btn--h-contact{
  min-width: rem(150);
  height: rem(45);
  font-size: rem(15);
}
.c-btn--h-contact > span{//8.3.19テキストのずれ調整
  transform: translateY(0);
}



//フッター コンタクトボタン（固定）
.c-btn--f-contact{
  width: rem(335);
  height: rem(60);
  font-size: rem(20);
  letter-spacing: 0.15em;
  @include pc {
    width: rem(300);
  }
}
.c-btn--f-contact > span{//8.3.19テキストのずれ調整
  transform: translateY(0);
}



  /*.activeクラス付与で表示する*/
.c-btn--f-contact.active{
  // opacity: 1;
  pointer-events: auto;
  transition: background-color 0.3s ease,
}


//共通ボタン
.c-btn--primary{
  width: rem(335);
  height: rem(50);
  font-size: rem(20);
  @include pc {
    width: rem(250);
    font-size: rem(25);
  }
}
.c-btn--primary > span{//8.3.19テキストのずれ調整
  transform: translateY(0);
}


