
@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.c-breadcrumb {
  font-weight: 500;
  background: #E8E8E8;
  width: 100%;
}

.c-breadcrumb .l-inner {
  display: flex;
  align-items: center;
  padding-top: rem(4.8);
  padding-bottom: rem(4.8); /* 上下4.8px。これで2行のときに合計59pxになる */
  column-gap: rem(20);
  flex-wrap: wrap; /* スマホで折り返しを許可 */
  @include pc {
    height: rem(50); /* PCは1行固定 */
    padding-top: 0;
    padding-bottom: 0; /* 上下4.8px。これで2行のときに合計59pxになる */
    flex-wrap: nowrap;
  }
}

/* 各項目の共通設定（aタグと現在のページ名） */
.c-breadcrumb .l-inner > span {
  // display: inline-block;
  line-height: 1.55; /* line-heightリセット */
}
.c-breadcrumb a,
.c-breadcrumb .current-item,
.c-breadcrumb span[typeof="ListItem"] > span {
  display: inline-block;
  font-size: rem(16);
  line-height: 1.55;      /* 1行を約24.8pxに。2行で49.6px */
  color: #000;
  text-decoration: none;
  word-break: break-word;
  @include pc {
    max-width: rem(550);     /* 項目が長くなりすぎないよう最大幅を指定（数値は任意） */
    line-height: rem(50);
    white-space: nowrap;     /* 折り返し禁止 */
    text-overflow: ellipsis; /* 三点リーダーを表示 */
    vertical-align: bottom;  /* 1行の時にズレるのを防ぐ（必要に応じて） */
    overflow: hidden;        /* はみ出しを隠す */
  }
}

/* ホバー領域を広げたい場合の設定 */
.c-breadcrumb a {
  display: inline-block;
  transition: opacity 0.3s;
}

.c-breadcrumb a:hover {
  opacity: 0.7;
}

/* 区切り文字 (>) の調整 */
.c-breadcrumbs__sign {
  display: flex;
  align-items: center;
  font-size: rem(16);
  height: 100%; /* 親の高さに合わせる */
}