@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-label {//widthは文字数に応じて自動で変わる
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 10;
  padding-left: rem(10);
  padding-right: rem(10);
  padding-top: rem(7.5);
  padding-bottom: rem(7.5);
  font-size: rem(15);
  line-height: 1;
  box-sizing: border-box;
  background-color: #CB0000;
  color: #fff;
  @include pc{
    padding-top: rem(8);
    padding-bottom: rem(7);
  }
}
.c-label--sp-s{
  min-width: rem(80);
}
.c-label--sp-m{
  min-width: rem(90);
}
.c-label--sp-l{
  min-width: rem(100);
}

@include pc{
  .c-label--pc-s{
      min-width: rem(80);
  }
  .c-label--pc-m{
    min-width: rem(90);
  }
  .c-label--pc-l{
    min-width: rem(100);
  }
}

.c-label--none{//!important使用
  display: none !important;
}
