@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-link{
position: relative;
  display: inline-block;
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.4;//8.2.21
  text-decoration: none;
  transition: opacity 0.3s;
}

.c-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: rem(1);
  background-color: currentColor; // ← 下線の色を文字色と揃える
  opacity: 1; // ← アンダーラインのオパシティ
  transition: opacity 0.3s;
}
.c-link--blog::after {
  height: rem(0.5);
}

@media (hover: hover) {//8.3.19
  .c-link:hover {
      opacity: 0.5;
  }
  .c-link:hover::after {
      opacity: 0.5;
  }
}



