@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: rem(2);
  padding-left: rem(10);
  padding-right: rem(10);
  font-size: rem(15);
  line-height: calc(25 / 15);
  background-color: #CB0000;
  color: #fff;
}
.c-label--responsive-s{
  min-width: rem(90);
  height: rem(30);
  @include pc{
  min-width: rem(80);
  height: rem(30);
  }
}
.c-label--responsive-m{
  min-width: rem(80);
  height: rem(30);
  @include pc{
  min-width: rem(100);
  height: rem(30);
  }
}
.c-label--responsive-l{
  min-width: rem(90);
  height: rem(30);
  @include pc{
  min-width: rem(100);
  height: rem(30);
  }
}
.c-label--s{
  min-width: rem(80);
  height: rem(30);
}
.c-label--l{
  min-width: rem(100);
  height: rem(30);
}

.c-label--none{//!important使用
  display: none !important;
}
