@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

//メイン記事
.article__core .p-card__img::before{
  padding-top: rem(2);
  font-size: rem(15);
  line-height: calc(25 / 15);
}

/*前後ページリンク*/
.article__nav{
  margin-top: rem(45);
  @include pc{
    margin-top: rem(55);
  }
}

//関連記事
.article__related .c-heading-deco{
  @include pc{
    padding-left: rem(30);
    text-align: left;
  }
}
.article__related .card-lists a{
  transition: opacity 0.3s ease;
}
.article__related .card-lists a:hover{
  opacity: 0.7;
}
.article__related .p-card{
  flex-direction: row;//spで横並び
  column-gap: rem(20);
  @include pc{
    column-gap: rem(31);
  }
}
