@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-result-list{
  padding-top: rem(46);
  padding-bottom: rem(198);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(67);
    padding-bottom: rem(210);
  }
}
/**************
result-list
**************/
.sub-result-list__wrapper{
  margin-top: rem(49);
  @include pc{
    margin-top: rem(38);
  }
}
.sub-result-list .card-lists{
  row-gap: rem(41);
  @include pc{
    row-gap: rem(61);
    column-gap: rem(106);
  }
}

.sub-result-list .c-pager{
  margin-top: rem(59);
  @include pc{
    margin-top: rem(71);
  }
}

