@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-blog-list{
  padding-top: rem(46);
  padding-bottom: rem(203);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(65);
    padding-bottom: rem(210);
  }
}
/**************
blog-list
**************/
.sub-blog-list__wrapper{
  margin-top: rem(39);
  row-gap: rem(39);
  @include pc{
    margin-top: rem(37);
    // row-gap: rem(0);
    row-gap: rem(70);
  }
}

.sub-blog-list .c-pager{
  margin-top: rem(59);
  @include pc{
    // margin-top: 0;
    margin-top: rem(70);
  }
}


