@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-result-details{
  padding-top: rem(50);
  padding-bottom: rem(195);
  // padding-bottom: rem(197);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(70);//微調整
    padding-bottom: rem(157);
  }
}
.p-card-body__wrap{
  @include pc{
    margin-top: rem(55);
    display: flex;
    flex-direction: row;
    column-gap: rem(40);
  }
}


/*前後ページリンク*/
.sub-result-details .article__nav{
  margin-top: rem(40);
  @include pc{
    margin-top: rem(60);
  }
}
.sub-result-details .page-nav .p-card__title{
  @include pc{
    width: rem(226);
  }
}


/*関連記事*/
.sub-result-details .article__related{
  // margin-top: rem(67);
  margin-top: rem(61);
  @include pc{
    margin-top: rem(100);
  }
}
.article__related .card-lists{
  margin-top: rem(19);//微調整
  row-gap: rem(20);//微調整
  @include pc{
    margin-top: rem(30);//微調整
    row-gap: rem(30);
  }
}

