@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.sub-search{
  padding-top: rem(36);
  padding-bottom: rem(203);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    // padding-top: rem(70);//微調整
    padding-top: rem(66);
    padding-bottom: rem(210);
  }
}

/**************
search
**************/
.sub-search__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-search h1{
  font-size: rem(18);
  line-height: calc(25 / 18);
  font-weight: 500;
}
.sub-search h1 span{
  font-weight: 700;
}
.sub-search .sub-search__counter{
  font-size: rem(18);
  line-height: calc(30 / 18);
  font-weight: 500;
}
.sub-search__wrapper{
  // margin-top: rem(45);//微調整
  margin-top: rem(42);
  row-gap: rem(39);
  @include pc{
    margin-top: rem(42);
    // row-gap: rem(0);
    row-gap: rem(70);
  }
}

.sub-search .c-pager{
  margin-top: rem(59);
  @include pc{
    // margin-top: 0;
    margin-top: rem(70);
  }
}

