@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.top-blog{
  padding-top: rem(50);
  padding-bottom: rem(191);

  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(70.5);
    padding-bottom: rem(205);
  }
}
.top-blog__wrapper{
  margin-top: rem(39);
  row-gap: rem(41);
  @include pc{
    margin-top: rem(35);
    column-gap: rem(50);
  }
}
.top-blog__wrapper li {//11.20 カード幅を固定
  flex: 0 0 rem(260);
}
.top-blog__link{
  margin-top: rem(37);
  @include pc{
    text-align: right;
  }
}
.top-blog__link a{
  color: #000000;
}

