@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.top-reason{
  padding-top: rem(49);
  padding-bottom: rem(39);
  text-align: center;
  @include pc {
    padding-top: rem(64);
    padding-bottom: rem(90);
  }
}
.top-reason__wrapper{
  margin-top: rem(36);
  gap: rem(39);
  @include pc{
    margin-top: rem(28);
    gap: rem(50);
  }
}
