@use '../../../foundation/function' as *;
@use '../../../foundation/mixin' as *;

.blog-list{
  padding-top: rem(46);
  padding-bottom: rem(203);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(65);
    padding-bottom: rem(210);
  }
}
.blog-list__items{/*<ul>*/
  display: grid;
  grid-template-columns: 1fr; // デフォルトは1列
  margin-top: rem(39);//1.28
  row-gap: rem(39);
  @include pc{
    margin-top: rem(40);//8.2.21
    row-gap: rem(68);
  }
}
.blog-list__items--search{/*<ul>8.2.21*/
  margin-top: rem(42);
}

.blog-list .c-pager{
  margin-top: rem(59);
  @include pc{
    margin-top: rem(65);
  }
}

.blog-item a {/*blog-item <li>*/
  display: flex;
  flex-direction: column;
  position: relative;
  @include pc {
    flex-direction: row;
    column-gap: rem(50);
    align-items: flex-start; //画像がテキストに引っ張られない
  }
}
.blog-item__img{
  position: relative;
  width: 100%;
  overflow: hidden;
  @include pc{
    flex: 0 0 rem(260); // 幅
    margin-top: rem(2);//1.28
  }
}
.blog-item__img img {
  aspect-ratio: 335 / 200;
  object-fit: cover;
  @include pc{
    aspect-ratio: 260 / 184;
  }
}
.blog-item__body{
  margin-top: rem(30);
  @include pc{
    flex: 1;
    margin-top: 0;
  }
}
.blog-item__title{
  text-align: left;
  font-size: rem(20);
  line-height: calc(30 / 20);
  // --- 行数制限のための追加 ---
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; //2行に固定
  overflow: hidden;
  // -------------------------
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
    -webkit-line-clamp: 1; //1行に固定

  }
}
.blog-item__date{
  display: block;
  margin-top: rem(6);
  text-align: right;
  font-size: rem(17);
  font-weight: 500;
  line-height: calc(30 / 17);
  @include pc{
    margin-top: rem(3);
    text-align: left;
  }
}
.blog-item__text{
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: 500;
  text-align: left;
  line-height: calc(30 / 16);
  // --- 行数制限のための追加 ---
  display: -webkit-box;
  -webkit-line-clamp: 5;//5行に固定
  -webkit-box-orient: vertical;
  overflow: hidden;
  // -------------------------
  @include pc{
    margin-top: rem(11);
    font-size: rem(18);
    line-height: calc(30 / 18);
    -webkit-line-clamp: 3;//3行に固定
  }
}

/*--------------
hover 
---------------*/
.blog-item a{
  transition: opacity 0.3s ease;
}
@media (hover: hover) {//8.3.19
  .blog-item a:hover{
    opacity: 0.7;
  }
}

//エラーテキストのスタイル
.blog-list--no-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(30);
}
.blog-list--no-post p{
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(30 / 16);
  text-align: center;
}
