@use '../../../foundation/function' as *;
@use '../../../foundation/mixin' as *;

.result-details{
  padding-top: rem(50);
  padding-bottom: rem(195);
  color: #000000;
  background-color: #FFFFFF;
  @include pc {
    padding-top: rem(70);//微調整
    padding-bottom: rem(157);
  }
}


/*前後ページリンク*/
.result-details__pager{
  margin-top: rem(40);
  @include pc{
    margin-top: rem(60);
  }
}

.result-article__img{
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: rem(30);
  overflow: hidden;
  @include pc{
    margin-bottom: rem(50);
  }
}
.result-article__img img {
  object-fit: cover;
  object-position: center;
  @include pc{
    aspect-ratio: 22 / 10; //880/400
  }
}
.result-article__title{
  text-align: left;
}
.result-article__date{
  display: block;
  font-weight: 500;
}
.result-article__table-area{
  @include pc{
    margin-top: rem(57);
    margin-bottom: rem(60);
    display: flex;
    flex-direction: row;
    column-gap: rem(40);
    align-items: flex-start;//上揃えにして引き延ばさない
  }
}

.result-article__text{
  text-align: left;
  font-weight: 500;
}

.result-article__title{
  margin-top: rem(30);
  margin-bottom: rem(6);
  font-size: rem(20);
  line-height: calc(30 / 20);
  @include pc{
    margin-top: rem(50);
    margin-bottom: rem(15);
    font-size: rem(25);
    line-height: calc(40 / 25);
  }
}
.result-article__date{
  margin-top: rem(6);
  margin-bottom: rem(21);
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  @include pc{
    margin-top: rem(15);
    margin-bottom: rem(57);
  }
}
.result-article__table-area .c-table{
  margin-top: rem(21);
  margin-bottom: rem(28);
  @include pc{
    margin-top: 0;
    margin-bottom: 0;
    width: rem(400);
    margin-top: 0;
  }
}
.result-article__text{
  margin-top: rem(28);
  margin-bottom: rem(40);
  font-size: rem(18);
  line-height: calc(30 / 18);
  @include pc{
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.result-article__text span{
  display:  inline-block
}


/*前後ページリンク*/
.result-details__pager{
  margin-top: rem(40);
  @include pc{
    margin-top: rem(60);
  }
}


/*関連記事*/
.result-details__related{
  margin-top: rem(61);
  @include pc{
    margin-top: rem(100);
  }
}
.result-details__related h2{
  @include pc{
    padding-left: rem(30);
    text-align: left;
  }
}
.result-related__items{
  display: flex;
  flex-direction: column;
  margin-top: rem(19);//微調整
  row-gap: rem(20);//微調整
  @include pc{
    margin-top: rem(30);//微調整
    row-gap: rem(30);
  }
}
.result-related__item a{
  display: flex;
  flex-direction: row;
  column-gap: rem(20);
  @include pc{
    column-gap: rem(30);
  }
}  
/*hover*/
.result-related__item a{
  transition: opacity 0.3s ease;
}
@media (hover: hover) {//8.3.19
  .result-related__item a:hover{
    opacity: 0.7;
  }
}

.result-related__img{
  position: relative;
  width: 100%;
  overflow: hidden;
  flex: 0 0 rem(160); // 幅
  @include pc{
    flex: 0 0 rem(260); // 幅
  }
}
.result-related__img img {
  aspect-ratio: 160 / 113;
  object-fit: cover;
  @include pc{
    aspect-ratio: 260 / 183;
  }
}
.result-related__title{
  font-size: rem(17);
  line-height: calc(28 / 17);
  font-weight: 700;
  max-height: rem(56);/*2行表示*/
  overflow: hidden;
  @include pc{
    font-size: rem(20);
    line-height: calc(25 / 20);
  }
}
.result-related__date{
  display: block;
  margin-top: rem(3);//微調整
  font-size: rem(17);
  line-height: calc(30 / 17);
  font-weight: 500;
  @include pc{
    padding-left: rem(4);
    margin-top: rem(13);
  }
}
