@use '../../../foundation/function' as *;
@use '../../../foundation/mixin' as *;

.sns-btn{
  display: flex;
  flex-direction: row;
  column-gap: rem(3);
}
.sns-btn a{
  transition: opacity 0.3s ease;
}
@media (hover: hover) {//8.3.19
  .sns-btn a:hover{
    opacity: 0.7; 
  }
}
.sns-btn__img img{
  width: rem(65);
  @include pc{
    width: auto;
    height: rem(40);
  }
  @include media(360px) {
    width: rem(60);
    height: auto;
  }
}
